// bower:scss
// endbower
/*variables*/

/*COLORS*/
$body-bg: #fff;
$red: #C12A3D;
$gray-text: #939297;
$gray: #d7d7d7;//#46494F
$gray-bg: #efefef;
$black: #231f20;

$yellow: #fcb912;
$green: #01958D;
$blue: #3D6472;
$orange: #DC6A3C;

/*mixins*/
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
@mixin border-top-right-radius($radius) {
    -webkit-border-top-right-radius: $radius;
    -moz-border-top-right-radius: $radius;
    -ms-border-top-right-radius: $radius;
    border-top-right-radius: $radius;
}
@mixin border-top-left-radius($radius) {
    -webkit-border-top-left-radius: $radius;
    -moz-border-top-left-radius: $radius;
    -ms-border-top-left-radius: $radius;
    border-top-left-radius: $radius;
}
@mixin border-bottom-right-radius($radius) {
    -webkit-border-bottom-right-radius: $radius;
    -moz-border-bottom-right-radius: $radius;
    -ms-border-bottom-right-radius: $radius;
    border-bottom-right-radius: $radius;
}
@mixin border-bottom-left-radius($radius) {
    -webkit-border-bottom-left-radius: $radius;
    -moz-border-bottom-left-radius: $radius;
    -ms-border-bottom-left-radius: $radius;
    border-bottom-left-radius: $radius;
}
@mixin border-radius-full($radius) {
    -webkit-border-top-right-radius: $radius;
    -moz-border-top-right-radius: $radius;
    -ms-border-top-right-radius: $radius;
    border-top-right-radius: $radius;
    -webkit-border-top-left-radius: $radius;
    -moz-border-top-left-radius: $radius;
    -ms-border-top-left-radius: $radius;
    border-top-left-radius: $radius;
    -webkit-border-bottom-right-radius: $radius;
    -moz-border-bottom-right-radius: $radius;
    -ms-border-bottom-right-radius: $radius;
    border-bottom-right-radius: $radius;
    -webkit-border-bottom-left-radius: $radius;
    -moz-border-bottom-left-radius: $radius;
    -ms-border-bottom-left-radius: $radius;
    border-bottom-left-radius: $radius;
}
@mixin opacity($value) {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$value)";
    filter: alpha(opacity=$value);
    -moz-opacity: $value;
    -khtml-opacity: $value;
    opacity: $value;
}
@mixin min-height($value) {
    min-height: $value;
    height: auto !important;
    height: $value;
}

////
// RESET
////
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul {
    margin-left: 20px;
}
nav ul, ul.clean {
    margin-left: 0;
    list-style-type: none!important;
}
a, a:visited {
    text-decoration: none;
}
h1, h2 {
    font-weight: normal;
}
h3, h4, h5, h6 {
    font-weight: normal;
}
a:focus {
    outline: none;
}
a::-moz-focus-inner {
    border: 0;
}
input, select, textarea {
    outline: 0;
}
input[type="button"] {
    outline: none;
}
input[type="button"]::-moz-focus-inner {
    border: 0;
}
button {
    outline: none;
}
button::-moz-focus-inner {
    border: 0;
}
img {
    outline: 0!important;
    border: 0!important;
}

////
// DEFAULTS
////
body {
    position: relative;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.4em;
    color: $gray-text;
    background-color: $body-bg;
}
.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.inner-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 0px;
}
a {
    color: $gray-text;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
}
h3, h4 {
    font-size: 16px;
}
h2, h3, h4 {
    font-family: sans-serif;
}
header, footer, section, article, nav {
    display: block;
}
.section {
    padding: 80px 0;
}
.gray-bg {
    background-color: $gray-bg;
}
.cont {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
////
// CLEARFIX
////
.cf:before, .cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
    /*For IE 6/7 only*/
}
////
// TEST
////
#test-object {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #489;
}
#test-object-2 {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #489;
}

////
// LOADER
////
$loader-height: 90px;
$loader-width: 90px;
#loader-main-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9999;
    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: - $loader-height / 2;
        margin-left: - $loader-width / 2;
    }
}

////
// HEADER
////
// types: normal, fixed 
$header-bg: #000;
$header-height: 90px;
header.main {
    position: relative;
    top: 0;
    left: 0;
    height: $header-height;
    width: 100%;
    background-color: $header-bg;
    z-index: 4;
    
    &.fixed {
        position: fixed;
    }
}
////
// LOGO - on-running logo used just for example
////
.logo {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: $header-height;
    background-color: #000;
    img {
        display: block;
        height: $header-height;
        margin: 0px auto;
    }
}

////
// NAVIGATION
////
//types: basic, drop, aside
$nav-height: 40px;
nav.header {
    position: relative;
    height: $nav-height;
    
    ul {
        > li {
            float: left;
        }
        li {
            a {
                margin: 0 15px;
                text-transform: uppercase;
                line-height: $nav-height;
                white-space: nowrap;
                font-size: 14px;
                color: $gray-text;
            }
        }
    }
    &.basic {
        top: ($header-height - $nav-height) / 2;
    }
    &.drop {
        position: absolute;
        top: ($header-height - $nav-height);
        left: 0;
        
        ul ul {
            &.active {
                display: block;
            }
            li {
                position: relative;
                display: block;
                float: left;
                background-color: #000;
                a {
                    display: block;
                }
            }
        }
        ul ul {
            display: none;
            position: absolute;
            top: $nav-height;
            left: 0;
        }
    }
    &.mobile-full {
        text-align: center;
    }
    &.mobile-side {
        text-align: left;
    }
}
.expand-btn {
    display: none;
}
////
// TOOLS HEADER
////
.tools {
    position: absolute;
    top: $header-height / 4;
    left: 15px;
    .search {
        padding: 0 5px 0 5px;
    }
}

////
// FRONT
////
.front {
    position: relative;
}
.slider {
    position: relative;
    z-index: 1;
    img {
        display: block;
        width: 100%;
        max-width: 100%;
    }

    &.front {
        top: 0;
        width: 100%;
    }
}
.slick-slider {
    margin-bottom: 0px;
}

////
// MENU BTN
////
$menu-btn-width: 30px;
$menu-btn-height: 25px;
$menu-btn-color: #fff;
.menu-mobile-btn {
    display: none;
    position: absolute;
    top: ($header-height - $menu-btn-height) / 2;
    left: 15px;
    // right: 15px;
    width: $menu-btn-width;
    height: $menu-btn-height;
    color: #fff;
    z-index: 999;
    cursor: pointer;
}

////
// MENU BTN BURGER
////
.menu-mobile-btn {
    &.burger, &.arrow {
        .top, .middle, .bottom {
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $menu-btn-color;
        }
        .top {
            top: 0;
        }
        .middle {
            top: 11px;
        }
        .bottom {
            top: 22px;
        }
    }
}

////
// MENU BTN ARROW
////
.menu-mobile-btn {
    &.arrow {
        .top, .bottom {
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $menu-btn-color;
        }
        .top {
            top: 0;
        }
        .middle {
            top: 11px;
        }
        .bottom {
            top: 22px;
        }
    }
}

////
// ASIDE NAV
////
$aside-expand-btn-size: 30px;
nav.aside {
    width: 320px;
    padding: 15px 0;
    background-color: #000;
    
    .expand-btn {
        position: absolute;
        top: 0;
        left: 0;
        width: $aside-expand-btn-size;
        height: $aside-expand-btn-size;
        line-height: $aside-expand-btn-size;
        text-align: center;
    }
    ul {
        position: relative;
        li {
            position: relative;
            padding-left: $aside-expand-btn-size;
            a {
                display: block;
                height: $aside-expand-btn-size;
                line-height: $aside-expand-btn-size;
            }
        }
    }
}

////
// FOOTER
////
$footer-bg: #46494F;
footer.main {
    padding: 40px 15px;
    background-color: $footer-bg;
}
.agency {
    font-size: 12px;
    text-align: center;
}
@media all and (max-width: 1200px) {
    .cont {
        width: 100%;
    }
    $ipad-header-height: 60px;
    $ipad-logo-height: 50px;
    header.main {
        height: $ipad-header-height;

        .logo {
            top: ($ipad-header-height - $ipad-logo-height) / 2;
            right: 15px;
            height: $ipad-logo-height;

            img {
                height: $ipad-logo-height;
            }
        }
    }
    $ipad-nav-height: 30px;
    nav.header {
        height: $ipad-nav-height;
        ul li a {
            line-height: $ipad-nav-height;
        }
        &.basic {
            top: ($ipad-header-height - $ipad-nav-height) / 2;
        }
        &.drop {
            top: ($ipad-header-height - $ipad-nav-height);
        }
    }
    .tools {
        position: absolute;
        top: 5px;
        left: 15px;
        .search {
            padding: 0 5px 0 5px;
        }
    }
    .menu-mobile-btn {
        top: ($ipad-header-height - $menu-btn-height) / 2;
    }
}
@media all and (max-width: 980px) {
    .menu-mobile-btn {
        display: block;
    }
    $mobile-nav-bg: #000;
    $mobile-nav-item-height: 40px;
    nav.header.basic, .mobile-nav-cont {
        position: absolute;
        top: 0;
        left: -320px;
        width: 320px;
        height: auto;
        height: 1000px;
        margin-left: 0;
        padding-top: 60px;
        background-color: $mobile-nav-bg;
        z-index: 9;

        ul, nav.header.drop {

            li {
                float: none;
                a {
                    display: block;
                    width: 100%;
                    height: $mobile-nav-item-height;
                    line-height: $mobile-nav-item-height;
                }
            }
        }
    }
    .mobile-nav-cont nav.header.drop {
        .expand-btn {
            position: absolute;
            top: 0;
            left: 0;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
        }
        ul {
            position: relative;
            top: 0;
            li {
                position: relative;
                float: none;
                padding-left: 30px;
            a {
                display: block;
                width: 100%;
                height: $mobile-nav-item-height;
                line-height: $mobile-nav-item-height;
            }
        }
        }   
    }
    .mobile-nav-cont {
        position: relative;
        top: 60px;
        background-color: $mobile-nav-bg;

    }

}